@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Ubuntu", sans-serif;
}

body {
  /* bird animation causing overflow-y on landing, temporary fix */
  overflow: hidden;
  /* background-image: radial-gradient(#999 5%, transparent 0);
  background-size: 35px 35px; */
  /* DOTTED BACKGROUND ? DO I NEED IT */
  background-color: rgb(226, 225, 223);
}
